footer
    .footer-inner
        .copyright
            p © СКБ-банк, 2019 Генеральная лицензия № 705 
            p Центрального банка Российской Федерации
            p Адрес банка: г. Екатеринбург, ул. Куйбышева, 75
        .phone
            a(href="tel:+8 800 1000 600") 8 800 1000 600
                p Бесплатный звонок по России
