@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/scss/jquery.fancybox";
@import "../../node_modules/normalize.css/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/pngSprite";
@import "base/svgSprite";
@import "base/default";
 



@include screen("lg", "max") {
    .main {

        .transfer-form { 
            width: 90%;

            .where-from {
                padding: 13px 25px;

                p {
                    font: 500 24px/35.83px Gilroy;
                }

                div {
                    margin-top: 15px;
                }
            }

            .where {
                padding: 13px 25px;

                p {
                    font: 500 24px/35.83px Gilroy;
                }

                div {
                    margin-top: 15px;
                }

                .sum { 
                    span {
                        font: 400 12px Gilroy;
                    }
                    
                }
            }
        }

        .result {

            .transfer {
                .offer {
                    display: grid;
                    grid-template-columns: 10% 90%;
                    grid-column-gap: 20px;
                    width: 100%;
                }
            }
            
    }



        form {
            &:after {
                display: none;
            }
        }
}

}

@include screen("md", "max") {

    .main  {

        .warning {
            h1 {
                font: 700 42px/52.45px Gilroy;
            }
            p {
                font: 400 15px/21px Gilroy;
            }
        }

        .transfer-form {
            width: 70%;
            flex-wrap: wrap;
    
            .where-from {
                width: 100%;
                margin-bottom: 25px;

                padding: 33px 25px;

                p {
                    font: 500 24px/57.83px Gilroy;
                }

                div {
                    margin-top: 25px;
                }
            }
    
            .svg-arrow {
                justify-content: center;
                transform: rotate(90deg);
                width: 100%;
                z-index: -1;
            }
    
            .where {
                margin-top: 25px;
                width: 100%;

                padding: 33px 25px;

                p {
                    font: 500 24px/57.83px Gilroy;
                }

                div {
                    margin-top: 25px;
                }

                .sum { 
                    span {
                        font: 400 14px Gilroy;
                    }
                    
                }
            }
        }

        
    .block-gray {
        bottom: -6%;
    }
      
    }

    .payment-system {

        width: 70%;
    }

    .tabs {

        .tabs__nav {
            width: 90%;
        }
    }
    
}

@include screen("sm", "max") {
   
    header { 

        .inner {
            width: 95%;
            margin: 15px auto;
            .logo {
                a {
                    i {
                        font-size: 5px;
                    }
                }
            }
            
            .phone {
                a {
                    font: 500 22px/30px Gilroy;
    
                    p {
                        font: 400 11px Gilroy;
                    }
                }
            }
        }
      
    }

 .main {
     margin-bottom: 100px;
     .warning {
        width: 85%;
        margin: 35px auto;

        h1 {
            font: 700 35px/46.45px Gilroy;
        }

        p {
            margin-top: 20px;
            font: 400 13px/18px Gilroy;
        }
     }

     .transfer-form { 
        width: 90%;

        .where-from {
            padding: 13px 25px;

            p {
                font: 500 24px/35.83px Gilroy;
            }

            div {
                margin-top: 15px;
            }
        }

        .where {
            padding: 13px 25px;

            p {
                font: 500 24px/35.83px Gilroy;
            }

            div {
                margin-top: 15px;
            }

            .sum { 
                span {
                    font: 400 12px Gilroy;
                }
                
            }
        }

        
        }

        .result {
        width: 85%;
        flex-wrap: wrap;
        .information-about-enrollment {
            width: 100%;
            h2 {
                font: 700 14px/23px Gilroy;
            }

            p {
                font: 400 14px/20px Gilroy;
            }

        }

        .transfer {
            width: 100%;
            margin-top: 40px;
            span {
                font: 400 14px Gilroy;
            }

            .offer {
                grid-column-gap: 0;
                .text {
                    font: 400 12px Gilroy;
                }
            }

            .translate {
                font: 400 14px/40px Gilroy;
                padding: 0 40px;
            }
        }
    }

    .block-gray {
        bottom: -6%;
        height: 519px;
    }
 }


 .payment-system {

    width: 80%;
    margin-bottom: 45px;
    i {
        font-size: 8px;
    }
}

.tabs {  
    .tabs__nav {
        width: 95%;
    }
    .tabs__link {
        font: 400 15px Gilroy;
        padding-bottom: 15px;
        margin-right: 20px;
    }
    
    .tabs__content {
        width: 90%;
        font: 400 14px/32px Gilroy;
    }

}

footer {
    .footer-inner {
        width: 95%;

        .copyright {
            font: 300 10px/15px Gilroy;
            margin-right: 20px;
        }

        .phone { 
            a {
                font: 500 22px/30px Gilroy;

                p {
                    font: 400 11px Gilroy;
                }
            }

        }
    }
}

}

@include screen("xs", "max") {

   .inner {
       .warning {
           width: 90%;
       }

       .transfer-form {

        .where-from {
            input {
                height: 39px;
            }

            p {
                font: 500 20px/35.83px Gilroy;
            }
        }

        .where {
            input {
                height: 39px;
            }

            p {
                font: 500 20px/35.83px Gilroy;
            }

            .sum {

                span {
                    font: 400 10px Gilroy;
                }
                label {
                    span {
                        font: 400 20px Gilroy;
                    }
                }
            }
        }
  
    }

    .result {
        .transfer {
            .offer {
                grid-column-gap: 10px;
            }
        }
     
    }
   }


   .payment-system i {
    font-size: 6px;
}

.tabs { 
    .tabs__link {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
}
}


// insurance

@include screen("xl", "max") { 

    header.inner {
        grid-template-columns: .5fr 1fr 0.7fr;
        width: 95%;
        .logo {
            height: 34px;

            a {
                i {
                    font-size: 7px;
                }     
                
            }
        }

        .header-menu {
            font: 500 14px/28px Gilroy;
            a {
                margin-right: 20px;
            }
        }

        .header-inf {
            .phone, .office, .location {
                font: 500 11px/28px Formular;
            }
        }
    }

    main {

        .inner {
            .arrange {
                padding-top: 40px;
                .item {
                    &:before {
                        display: none;
                    }
                    &:after {
                        right: 0;
                    }
                }
            }

            .who {
                .signs {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 15px;
                    padding: 0 70px;
                }
            }

            .insurance {
                .tablet {
                    i {
                        font-size: 8px;
                    }
                }
                .text {
                    width: 36%;
                    h1 {
                        margin: 0;
                    }

                    ol {
                        li {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

    }

    .footer {
        .inner {
            .menu {
                width: 35%;
            }
            .currency {
                width: 34%;
            }
        }
       
    }

    footer {
        .inner {
            .apps {
                width: 30%;
            }
            .social {
                width: 20%;
            }
        }
    }

}

@include screen("lg", "max") { 
    header.inner {
        grid-template-columns: 1fr 0.7fr;
        .header-menu {
            display: none;
        }
    }

    main {
        .inner {
            .arrange {
                .item {
                    &:after {
                        display: none;
                    }
                }
            }

            .who {
                .signs {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 15px;
                    padding: 0 70px;
                }
            }

            .insurance {
                .tablet {
                    i {
                        font-size: 5px;
                    }
                }
                .text {
                    width: 46%;
                    h1 {
                        margin: 0;
                        margin-bottom: 10px;
                        font: 700 28px Gilroy;
                    }

                    ol {
                        li {
                            margin-bottom: 20px;
                            font: 400 16px Gilroy;
                        }
                    }

                    p {
                        font: 400 14px Gilroy;
                    }
                }
            }

            .calculator {
                background-color: #eaebee;
                height: 100%;
                &:before {
                    display: none;
                }
            }
        }
    }

    .footer {
        .inner {
            width: 90%;
            .menu {
                width: 35%;
                grid-column-gap: 10px;
                .logo {            
                    align-self: flex-end;
                    i {
                        font-size: 8px;
                    }
                }
            }
            .currency {
                width: 41%;
            }
        }
       
    }
   
}

@include screen("md", "max") { 


        header.inner {
            .header-inf {
                justify-content: flex-end;
                .bank {
                    display: block;
                    font: 500 13px/1.2 Gilroy;
                }
                .phone {
                    display: none;
                }
                .office {
                    display: none;
                }
                .location {
                    display: none;
                }
            }
        }
    

    .internet-bank {
        display: none;
    }

    main {
        .inner {
            .who {
                .signs {
                    padding: 0 40px;
    
                    .item {
                        font: 400 14px Gilroy;
                        margin: 50px 0;
                        i {
                            font-size: 8px;
                        }
                    }
                }
            }

            .insurance {
                width: 100%;
                flex-wrap: wrap;
                .tablet {
                    i {
                        font-size: 3px;
                    }
                }
                .text {
                    width: 80%;
                }
            }
            
            
        }
    }

    .footer {
        .inner {
            .menu {
                width: 41%;
                .logo {            
                    margin-bottom: 15px;
                    i {
                        font-size: 8px;
                    }
                }
            }
            .currency {
                width: 56%;
                margin-top: 45px;
            }
            .communication {
                width: 25%;
                margin-top: 45px;
            }
        }
       
        

        .documentation {
            width: 90%;
            .item-1 {
                width: 29%;
            }
            .item-2 {
                width: 29%;
            }
            .item-coowner {
                width: 31%;
            }
            
        }
    }

    footer {
        .inner {
            flex-wrap: wrap;
            width: 90%;
            .copyright {
                width: 30%;
            }
            .apps {
                width: 39%;
            }
            .social {
                width: 25%;
            }
        }
    }

}

@include screen("sm", "max") { 
    main {
        .inner {
            margin-bottom: 0;
            .arrange {
                .item {
                   h1 {
                    font: 700 40px/52.45px Gilroy;
                   }
                   p {
                    font: 400 18px Gilroy;
                   }
                   button {
                    font: 400 15px/50px Gilroy;
                    margin: 20px 0;
                   }
                }
            }

            .who {
                width: 90%;
                margin-top: 32px;
                h1 {
                    font: 700 28px/55.89px Gilroy;
                }

                .signs {
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 10px;
                    padding: 0 30px;
                    .item {
                        font: 400 14px Gilroy;
                        margin: 15px 0;

                        p {
                            margin-top: 15px;
                        }
                    }
                }
            }

            .contract {
                width: 90%;
                margin: 30px auto;
                font: 400 15px/25px Gilroy;
            }

            .insurance {
                width: 95%;
                flex-wrap: wrap;
                .tablet {
                    i {
                        font-size: 3px;
                    }
                }
                .text {
                    width: 100%;
                    h1 {
                        margin: 20px 0;
                    }
                }
            }

            .calculator {
                width: 95%;
                margin: 40px auto;
                &:before {
                    display: none;
                }

                .item {
                    margin: 0 40px;
                    padding: 0;
                    h1 {
                        font: 700 25px/41.89px Gilroy;
                        padding-top: 15px;

                    }
                    ul {
                        font: 400 14px Gilroy;
                    }
                    button {
                        margin: 20px 0;
                        font: 400 14px/45px Gilroy;
                        padding: 0 30px;
                    }
                }
            }

            .techsupport {
                width: 95%;
                margin: 0px auto;
                font: 400 14px Gilroy;
                i {
                    font-size: 7px;
                }
                .text {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        .inner {
            .menu {
                width: 100%;
                
            }
            .currency {
                width: 100%;
                margin-top: 45px;
            }
            .communication {
                width: 100%;
                margin-top: 45px;
            }

            
        }

        .documentation {
            .item-1 {
                width: 50%;
            }
            .item-2 {
                width: 50%;
            }
            .item-coowner {
                margin-top: 30px;
                .coowner {
                    margin-bottom: 5px;
                }
            }
            
        }
       
    }

    footer {
        height: 100%;
        .inner {
            .copyright {
                width: 100%;        
                margin: 15px 0;
            }
            .apps {           
                margin: 15px 0;
                width: 65%;
            }
            .social {       
                margin: 15px 0;
                width: 60%;
            }
        }
    }
}

@include screen("xs", "max") { 

    main {
        .inner {
            margin: 40px auto;
            margin-bottom: 0;
            .menu-internet-bank {
                .bread-crumb {
                    font: 400 13px Gilroy;

                    p {
                        margin-right: 5px;
                    }

                    a {
                        margin-left: 5px;
                    }
                }
                
            }

            .who {
                width: 100%;
                margin-top: 25px;
                h1 {
                    font: 700 25px/45.89px Gilroy;
                }

                .signs {
                    grid-template-columns: 1fr;
                    .item {
                        text-align: center;
                    }
                }
            }
        }
 
    }

    .footer {
        margin-bottom: -40px;
        .inner {
            .menu {
                font: 300 12px/23px Gilroy;
                
            }
            .currency {
                margin-top: 25px;
                .sale, .purchase, .rf {
                    font: 300 12px/22px Gilroy;
                }
                .usd, .eur {
                    font: 300 20px/24.49px Gilroy;
                }
                .purchase-usd-price, .sale-usd-price, .rf-usd-price, .purchase-eur-price, .sale-eur-price, .rf-eur-price {
                    font: 300 14px/24.49px Gilroy;
                }
                .time {
                    font: 300 12px/22px Gilroy;
                }
            }
            .communication {
                margin-top: 25px;
                span {
                    font: 300 12px/18px Gilroy;
                }
                .tel {
                    font: 300 22px/24px Gilroy;
                }
                .feedback {
                    font: 300 12px/22px Gilroy;
                }
            }
        }

        .documentation {
            margin: 20px auto;
            .item-1 {
                width: 100%;
                margin: 10px 0;
            }
            .item-2 {
                width: 100%;
                margin: 10px 0;
            }
            .item-coowner {
                margin-top: 20px;
                width: 100%;
                .coowner {
                    margin-bottom: 5px;
                }
            }
            
        }
       
    }

    footer {
        height: 100%;
        .inner {
            .copyright {
                width: 100%;        
                margin: 15px 0;
            }
            .apps {           
                margin: 15px 0;
                width: 70%;
            }
            .social {       
                margin: 15px 0;
                width: 80%;
            }
        }
    }
   
}

@import "base/mixins";